/* checkout.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkout-page {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.checkout-page h1 {
    color: #00539f;
    margin-bottom: 20px;
}

#items {
    text-align: left;
    margin-bottom: 20px;
}

#items div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#items div:last-child {
    border-bottom: none;
}

#items img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

#totalAmount {
    color: #00539f;
}

#checkoutButton {
    padding: 10px;
    background-color: #00539f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkoutButton:hover {
    background-color: #004080;
}
